@charset "UTF-8";
$browser-default-font-size:      1.41 !default;
$baseFont:                       \5FAE\8F6F\96C5\9ED1, "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif !default;
$baseColor:                      #404040 !default;
$primaryColor:                   #0099FF !default;
$accentColor:                    #FF8400 !default;
$gray:                           #787878 !default;
$grayLight:                      #9A9A9A !default;
$grayLightMore:                  #D9D9D9 !default;
$bgColor:                        #F0F0F0 !default;
$borderColor:                    #DBDBDB !default;
$linkColor:                      $primaryColor !default;
$priceColor:                     $accentColor !default;
$priceDelColor:                  $grayLightMore !default;
$iconColor:                      $baseColor !default;
